.job-categories {
    padding-top: 137px;
    padding-bottom: 137px;
}

.job-categories-container {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.job-categories-title {
    color: var(--Dark-01, #1A1919);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
}

.job-categories-description {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 32px;
}

@media only screen and (max-width: 600px) {
    .job-categories {
        width: 95%;
    }
    
    .job-categories-container {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1500px) {
    .job-categories-container {
        flex-wrap: wrap;
    }
    .job-category {
        flex-shrink: 1;
    }
}

@media only screen and (min-width: 1501px) {
    .banner {
        padding-left: 300px;
        padding-right: 300px;
    }

    .banner-info {
        width: 50%;
    }
}